*{
   margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.container{
   border:  none;
    background-color: aliceblue;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
h1{
    display: block;
    font-size: 60px;
    text-transform: uppercase;
    border: none;
    background-color: black;
    color: aliceblue;
}
.image{
   width: 60%;
   display: block;
   margin-left: auto;
   margin-right: auto;

}
p{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    
}
ul,ol{
    margin-top: 10px;
    text-align: left;
    margin-left: 10%;
    list-style: decimal;
    font-size: 40px;
}
h3,h2,h4{
    margin: 50px 0px 0px 0px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: below;
}
h2{
    font-size: 50px;
}
